{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurushree Hospital</title>

    <link href="{% static 'admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'admin/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/file.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/toastr.min.css' %}" rel="stylesheet">

    <link href="{% static 'admin/css/typeahead.css' %}" rel="stylesheet">
    <link href="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!--<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet">
    <style>
        body{
            color:#000000
        }
        .form-control{
            border: 0.2px solid #041b66 !important;
        }
        table{
            color:#000000!important;
        }
    </style>
</head>