{% extends 'admin_layout.html' %} {% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill nav-pills" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="userFormTab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Patient Registration</a>
                <a class="nav-item nav-link" id="userTableTab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Patients List</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card">
                    <form id="PatientForm">
                        <div class="card-body">

                            <input type="hidden" id="UserId" name="id">
                            <input type="hidden" name="isActive" value="true">
                            <div class=" row">
                                <div class="col-md-3 pl-5">
                                    <div class="wrap-custom-file">
                                        <input type="file" name="p_photo" id="image1" accept=".gif, .jpg, .png" />
                                        <label for="image1">
                                            <span>Select Patient Photo</span>
                                            <i class="fa fa-plus-circle"></i>
                                        </label>
                                    </div>
                                    <div class="wrap-custom-file">
                                        <input type="file" name="a_photo" id="image2" accept=".gif, .jpg, .png" />
                                        <label for="image2">
                                            <span>Select Attendant Photo</span>
                                            <i class="fa fa-plus-circle"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputPassword">Registration Type</label>
                                        <select name="reg_type" class="custom-select form-control" required>
                                            <!-- <option >--- Select Registration Type ---</option> -->
                                            {% for registration in registration_type %}
                                                {% if registration.regType == 'Normal' %}
                                                <option value="{{registration.regType}}" selected>{{registration.regType}}</option>
                                                {% else %}
                                                <option value="{{registration.regType}}">{{registration.regType}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Title</label>
                                        
                                        <select name="title" id="title" class="custom-select form-control" required>
                                            <option > --- Select Title --- </option>
                                            {% for title in titles %}
                                                <option value="{{title.name}}">{{title.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Gender</label>
                                        <div class="w-100">
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="gender"
                                                        checked="" value="Male"><i class="fas fa-male text-lg"
                                                        style="font-size:1.5rem"></i> Male
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="gender"
                                                        value="Female"><i class="fas fa-female text-lg"
                                                        style="font-size:1.5rem"></i> Female
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Patient Name</label>
                                        <input type="text" class="form-control" required id="p_name" name="p_name"
                                            placeholder="Enter Patient Name"
                                            onkeypress="return /[A-Za-z ]/i.test(event.key)"
                                            >
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Year Month Day</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="year" name="year"
                                                    placeholder="Year" required>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="month" name="month"
                                                    placeholder="Month" required>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="day" name="day"
                                                    placeholder="Day" required>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group mt-1">
                                        <label for="inputPassword">Address</label>
                                        <textarea name="address" id="address" class="form-control" rows="5" placeholder="Enter Patient Address1"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Address2</label>
                                        <textarea name="address2" id="address2" class="form-control" rows="4" placeholder="Enter Patient Address2"></textarea>
                                    </div>


                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="inputPassword">Mobile No.</label>
                                        <input type="text" class="form-control" maxlength="10" id="mobile_number" name="mobile_number"
                                            placeholder="Enter Mobile No."  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Alternate Contact</label>
                                        <input type="text" class="form-control" id="alternateContact" maxlength="10" 
                                            name="alternateContact" placeholder="Enter Alternamte Contact"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                            >
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Location</label>
                                                <input type="text" class="form-control" id="location" name="location"
                                                    placeholder="Enter Location">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Email</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    placeholder="Enter Your Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Pincode</label>
                                                <input type="text" 
                                                    class="form-control" 
                                                    maxlength="6"
                                                    id="pincode" name="pincode"
                                                    placeholder="Enter Pincode"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                >
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Marital Status</label>
                                                <!-- <input type="text" class="form-control" id="marital" name="marital"
                                                    placeholder="Enter Maital Status"> -->
                                                <select class="custom-select form-control" name="marital" id="marital">
                                                    <option >---- Select Marital Status ----</option>
                                                    {% for status in marital_status %}
                                                    <option value="{{status.name}}">{{status.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Relation Type</label>
                                                <select class="custom-select form-control" name="relationType" id="relationType">
                                                    <option>---Select Relation Type---</option>
                                                    {% for RelationType in RelationTypes %}
                                                    <option value="{{RelationType.name}}">{{RelationType.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Father's/Spouse Name</label>
                                                <input type="text" class="form-control" placeholder="Enter Your Spouse Name"
                                                name="father_name" onkeypress="return /[A-Za-z ]/i.test(event.key)"
                                                >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Identification Type</label>
                                                <select class="custom-select form-control" name="IdentificationType" id="IdentificationType">
                                                    <option>---Select Identification Type ---</option>
                                                    {% for identification in identifications %}
                                                    <option value="{{identification.name}}">{{identification.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Identification No.</label>
                                                <input type="text" class="form-control" placeholder="Enter Your Spouse Name"
                                                name="IdentificationValue" 
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Occupation</label>
                                                <select name='occupation' class="custom-select form-control">
                                                    <option >---Select Occupation---</option>
                                                    {% for occupation in occupations %}
                                                    <option value="{{occupation.name}}">{{occupation.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Blood Group</label>
                                                <!-- <input type="text" class="form-control" id="blood_group"
                                                    name="blood_group" placeholder="Enter Blood Group"> -->
                                                <select class="custom-select form-control" id="blood_group"  name="blood_group">
                                                    <option>---Select Blood Group---</option>
                                                    {% for blood in blood_groups %}
                                                    <option value="{{blood.name}}">{{ blood.name }}</option>

                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Religion</label>
                                                <!-- <input type="text" class="form-control" id="religion" name="religion"
                                                    placeholder="Enter Religion"> -->
                                                <select class="form-control custom-select" name="religion" id="religion">
                                                    <option>--- Select Religion ---</option>
                                                    {% for religion in religions %}
                                                    <option value="{{religion.name}}">{{religion.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword">Nationality</label>
                                                <select class="custom-select form-control" id="nationality" name="nationality">
                                                    <!-- <option>---Select Nationality --- </option> -->
                                                    {% for nationality in nationalitys %}
                                                        {% if nationality.name == 'Indian'  %}
                                                            <option value="{{nationality.name}}" selected>{{nationality.name}}</option>
                                                        {% else %}
                                                            <option value="{{nationality.name}}" selected>{{nationality.name}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <button type="submit" id="submitUser" class="btn btn-info btn-block">
                                              <i class="fa fa-user"></i> Register
                                           </button>
                                       </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-warning btn-block">
                                                   <i class="fa fa-stethoscope"></i> Appointment
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>

                            </div>



                        </div>
                        <div class="card-footer">

                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="patientsList" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Slno</th>
                                    <th>Patient Name</th>
                                    <th>Gender</th>
                                    <th>Mobile No.</th>
                                    <th>Email ID</th>
                                    <th>is Active?</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PatientDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Patient Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th>Registration Type </th>
                                    <td id="patientsList_registration_type"></td>
                                </tr>
                                <tr>
                                    <th>Name </th>
                                    <td id="patientsList_registration_name"></td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td id="patientsList_registration_gender"></td>
                                </tr>
                                <tr>
                                    <th>Age</th>
                                    <td id="patientsList_registration_age">20 Years,11 Months</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td id="patientsList_registration_address">Mysuru</td>
                                </tr>
                                <tr>
                                    <th>Marital Status</th>
                                    <td id="patientsList_registration_status">Single</td>
                                </tr>
                                <tr>
                                    <th>Father's/Spouse Name</th>
                                    <td id="patientsList_registration_spouse">Muthuraja</td>
                                </tr>
                                <tr>
                                    <th>Religion</th>
                                    <td id="patientsList_registration_religion">Hindu</td>
                                </tr>
                                <tr>
                                    <th>Nationality</th>
                                    <td id="patientsList_registration_nationality">Indian</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <a id="billingLink" class="btn btn-primary btn-block">OP Billing</a>
                        <a id="appointment" class="btn btn-primary btn-block">New Appointment</a>
                        <a id="Prescription" class="btn btn-primary btn-block">Prescription</a>
                        <button type="button" class="btn btn-primary btn-block">IP Admin</button>
                        <button type="button" class="btn btn-primary btn-block">Laboratory</button>
                        <button type="button" class="btn btn-primary btn-block">Radi0</button>
                        <button type="button" class="btn btn-primary btn-block">Excel</button>
                        <button type="button" class="btn btn-primary btn-block">Registration</button>
                        <button type="button" class="btn btn-primary btn-block">Bill History</button>
                        <button type="button" class="btn btn-primary btn-block">Case Sheet</button>
                        <button type="button" class="btn btn-primary btn-block">Consolidate</button>
                        <button type="button" class="btn btn-primary btn-block">Sticker</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- Scripts -->
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#sidebarToggle').trigger('click');
       
        var table = $('#patientsList').DataTable({
            ajax: {
                url: '/api/trans/patient_registration',
                dataSrc: "",
            },
            columns: [{
                data: 'id'
            }, {
                data: 'p_name'
            }, {
                data: 'gender'
            }, {
                data: 'mobile_number'
            }, {
                data: 'email_id'
            }, {
                data: 'isActive',
                render: function (data) {
                    if (data == true)
                        return '<span class="badge badge-success">Active</span>'
                    else return '<span class="badge badge-info">Inactive</span>'
                }
            }, {
                data: 'id',
                render: function (data, type, row) {
                    return `<button type="button" class ="btn btn-info btn-sm view" data-patients ='${JSON.stringify(row)}' data-patient-id ="${data}"> <i class ="fas fa-tasks"></i></button >
                        <button type ='button' class ='btn btn-primary btn-sm edit' data-patient ='${JSON.stringify(row)}' > <i class='fas fa-edit' > </i></button >
                        <button type ="button" class ="btn btn-info btn-sm delete" data-patient-id ="${data}" > <i class ="fas fa-trash" > </i></button >`
                }
            }],
            language: {
                lengthMenu: "_MENU_",
                search: "",
            }, fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        })
        
        $('#patientsList').on('click', '.view', function () {
            var id = $(this).attr('data-patient-id');
            const datas = JSON.parse($(this).attr('data-patients'));
            console.log(datas)
            $('#patientsList_registration_type').text(datas.reg_type)
            $('#patientsList_registration_name').text(datas.p_name)
            $('#patientsList_registration_gender').text(datas.gender)
            $('#patientsList_registration_age').text(ageCalculator(datas.year, datas.month, datas.day))
            $('#patientsList_registration_address').text(datas.address)
            $('#patientsList_registration_status').text(datas.marital)
            $('#patientsList_registration_spouse').text(datas.father_name)
            $('#patientsList_registration_religion').text(datas.religion)
            $('#patientsList_registration_nationality').text(datas.nationality)
            $('#billingLink').attr('href', '/trans/op_billing?patient_id=' + id)
            $('#appointment').attr('href', '/trans/appointments?patient_id=' + id)
            $('#Prescription').attr('href', '/trans/prescription?patient_id=' + id)
            $('#PatientDetails').modal('show')
        })
        function ageCalculator(year, month, day) {
            console.log(month+"/" + day + "/" + year)
            var dob = new Date(month+"/" + day + "/" + year);
            //calculate month difference from current date in time
            var month_diff = Date.now() - dob.getTime();
            
            //convert the calculated difference in date format
            var age_dt = new Date(month_diff); 
            
            //extract year from date    
            var year = age_dt.getUTCFullYear();
            // document.write("year is: " + year+ " years <br>")
            //now calculate the age of the user
            var age = Math.abs(year - 1970);
            return age
        }
        // $('#PatientDetails').on('show.bs.modal', function (event) {
        //     var button = $(event.relatedTarget).data('patients'); // Button that triggered the modal
            
        //     console.log(button)
        // })

        $('#patientsList').on('click', '.edit', function () {
            var button = $(this)
            var user = JSON.parse(button.attr('data-patient'))
            formDeserialize(document.getElementById('PatientForm'), user)
            $('#submitUser').html('Update Patient')
            $('#userFormTab').trigger('click')
        })

        $('#patientsList').on('click', '.delete', function () {
            var button = $(this);
            $.getJSON('/api/trans/patient_registration/' +
                button.attr('data-patient-id') + '/', {},
                function (data) {
                    var record = data;
                    record.isActive = false;
                    $.ajax({
                        data: JSON.stringify(record),
                        method: 'PUT',
                        url: '/api/trans/patient_registration/' + button.attr('data-patient-id') + '/',
                        contentType: 'application/json',
                        success: function (data) {
                            table.ajax.reload()
                            toastr.success('Patient Deleted Successfully', 'Success', {
                                positionClass: "toast-top-center"
                            })
                        },
                        error: function (err) {
                            console.log(err)
                            toastr.error('Patient Deletion failed', 'Error', {
                                positionClass: "toast-top-center"
                            })
                        }
                    })
                })
        })

        $('#PatientForm').submit(function (e) {
            e.preventDefault()
            e.stopImmediatePropagation()
            var data = new FormData(document.getElementById('PatientForm'))
            var action = 'POST'
            var url = '/api/trans/patient_registration/'
            var successMessage = 'User Added Successfully'
            if ($('#submitUser').html() == 'Update Patient') {
                if (document.getElementById('image1').files.length == 0)
                    data.delete('photo')
                action = 'PATCH'
                let image1 = document.getElementById('image1')
                if(image1.value.length <=0){
                    data.delete('image1')
                }
                let image2 = document.getElementById('image2')
                if(image2.value.length <=0){
                    data.delete('image2')
                }
                url = `/api/trans/patient_registration/${$('#UserId').val()}/`
                successMessage = 'User Updated Successfully'
            }
            $.ajax({
                url: url,
                data: data,
                method: action,
                contentType: false,
                processData: false,
                success: function () {
                    table.ajax.reload()
                    $('#PatientForm').trigger('reset')
                    $('#userTableTab').trigger('click')
                    toastr.success(successMessage, "Done", {
                        positionClass: "toast-top-center"
                    })
                },
                error: function (err) {
                    console.log(err)
                    $('#PatientForm').trigger('reset')
                    toastr.error("Operation Failed", 'Error', {
                        positionClass: "toast-top-center"
                    })
                }
            })
        })

        function formDeserialize(form, data) {
            const entries = (new URLSearchParams(data)).entries();
            for (const [key, val] of entries) { //http://javascript-coder.com/javascript-form/javascript-form-value.phtml
                const input = form.elements[key];
                if (input != undefined) {
                    console.log(input.type)
                    if (input.type == 'file') {
                        var $file = $('#' + input.id),
                            $label = $file.next('label'),
                            $labelText = $label.find('span'),
                            labelDefault = $labelText.text();
                        var filename = val.split('/').pop()
                        console.log(filename)
                        if (filename) {
                            $label.addClass('file-ok').css('background-image', 'url(' + val + ')');
                            $labelText.text(filename);
                        } else {
                            $label.removeClass('file-ok');
                            $labelText.text(labelDefault);
                        }
                    } else {
                        switch (input.type) {
                            case 'checkbox':
                                input.checked = !!val;
                                break;
                            case 'select-one':
                                if (val) input.value = val;
                                else input.selectedIndex = 0;
                                break;
                            default:
                                input.value = val;
                                break;
                        }
                    }
                }
            }
        }
    })
</script>
{% endblock %}